.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


.button-g {background-color: #4CAF50;} /* Green */
.button-b {background-color: #008CBA;} /* Blue */
.button-r {background-color: #f44336;} /* Red */
.button-g {background-color: #e7e7e7; color: black;} /* Gray */
.button-b {background-color: #555555;} /* Black */