ul, li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover .card-header{
    text-decoration: underline;
}

.strategy-item {
    margin: 20px 0;
}

.card{
    width: 100%;
}

.c-top{
    padding: 15px;
}
